body { 
    padding-top: 40px; 
}
.container{
    width:100%;
    margin:0px;
    padding:0px;
   }
#contactTable {
    margin-left:30px;
    width:70%;
}
section{
    float:left;
}
aside{
    float:left;
}
.navbar-right{
    padding-right:30px;
}
.slide1{
    background-image:url('../images/bread.png');
    background-repeat:no-repeat;
    background-size:auto;
    background-position:center;
    height:400px;
}
.slide2{
    background-image:url("../images/pie.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto;
    height:400px;
}
.slide3{
    background-image:url("../images/bdcake.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto;
    height:400px;
}
.slide4{
    background-image:url("../images/cheese.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto;
    height:400px;
}
.modal-header{
    background-color:lightseagreen;
    text-align:center;
}
section{
    width:100%;
    background-color:lightgrey;
}
#contContent {
    width:80%;
    margin:auto;
    background-color:white;
}
#contactRow {
    margin-top:3%;
    text-align:center;
}
#mapcontainer {

    height: 350px;
}
#commentForm {
    padding-top: 4%;
    margin:auto;
    width:100%;

}
#addressBar{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom:3%;
    border:1px solid lightgray;
}
.input-block-level {
    width:100%;
}
#footer-details{
   
    margin-top:20px;
    background-color:darkslategrey;
    color:white;
}
.wrapper{
    margin:0 auto;
    padding-top:2%;
    text-align:center;
    max-width:650px;
}
svg{
    width:50px;
    height:50px;
}
.wrapper ul{
    list-style-type:none;
}
.wrapper ul li {
   float:left;
   padding-left:3%
}
#facebook-shape{
    background-image:url("../images/facebook.png")
}

.bottom-wrapper{
    width:100%;
    background-color:teal;
    color:white;
    text-align:center;
}
.bottom-wrapper div{
    font-family:'Arno Pro''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top:15px;
    padding-bottom:10px;
}